<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>e_commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MerchantsServlet</servlet-name>
    <servlet-class>servlet.MerchantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantsServlet</servlet-name>
    <url-pattern>/MerchantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderFormServlet</servlet-name>
    <servlet-class>servlet.OrderFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderFormServlet</servlet-name>
    <url-pattern>/OrderFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>servlet.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingRecordServlet</servlet-name>
    <servlet-class>servlet.ShoppingRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingRecordServlet</servlet-name>
    <url-pattern>/ShoppingRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/VersionServlet</url-pattern>
  </servlet-mapping>
</web-app>