*{font-size:12px;text-decoration:none;color:#000;list-style:none;}
body,ul,li,img,p,h1,h2,h3{margin:0;padding:0;border:0;}
#all{width:1348px;}
a:hover{color:red;}

/**********top**************/
#enter{height:32px;background:url("img/bg_enter.jpg");}
#enter span{float:right;line-height:28px;margin-right:15px;}
#search{height:100px;}
#search_l{width:350px;float:left;}
#search_l img{float:left;margin:8px 0 0 55px;}
#search_m{width:600px;float:left;}
#search_m .s1{float:left;margin:25px 0 0 50px;}
#search_m .s1 a{float:left;font-size:14px;margin:10px 0 0 20px;}
#search_m input {font-size:16px;}
#search_m .s2{font-size:14px;color:#999;float:left;margin:6px 0 0 48px;*margin:6px 0 0 80px;}
#search_m .s2 a{font-size:14px;color:#999;}
#search_m .s2 a:hover{color:red;}
#search_m .search{width:355px;height:30px;border:2px solid #0000ff;float:left;}
#search .submit{width:72px;height:35px;background:#0000ff;float:left;color:white;}
#search_r {float:left;}
#search_r .collect{float:left;margin:35px 0 0 30px;}
#search_r .buy{float:left;margin:35px 0 0 60px;}

/**********nav***************/
#nav{height:540px;}
/**********nav_top***************/
#nav_top{height:45px;background:#0000ff;}
#nav_top ul{float:left;height:45px;width:800px;margin-left:170px;}
#nav_top ul li{float:left;height:45px;width:100px;line-height:45px;text-align:center;}
#nav_top ul li a{color:white;font-size:13px;}
#nav_top ul li:hover{float:left;height:45px;width:100px;background:#ff0000;}
#nav_top ul li a:hover{font-size:14px;}


/**********nav_l***************/
#nav_r{width:200px;margin-top:-45px;float:right;}
#AllSort {
	width:180px;
	float:right;
	z-index:200;
	margin-bottom:6px;
	border:#0000ff 2px solid;
	border-top:none;
	font-size:12px;
	height:520px;
}
#AllSort h3 
	{
	background:#0000ff;
	width:180px;
	height:45px;
	line-height:45px;
	}
#AllSort h3 a:link,#AllSort h3 A:visited{ color:#fff;font-size:18px;margin-left:0px;}
#AllSort dl {overflow: hidden; width: 209px;}
#AllSort dt {
	padding:3px 5px 0 20px;
	overflow:hidden;
	width:175px;
	cursor:pointer;
	height:24px;
	line-height:24px;
}
#AllSort dt a{font-size:15px;color:#434343;}
#AllSort dt span {
	display:block;
	padding-left:5px;
	float:left;
	overflow:hidden;
	width:140px;
	color:#999;
	height:21px;
}
* HTML #AllSort dt span {padding-right:0px;}
#AllSort .Dis { display:block;}
#AllSort .noDis {display:none;}
#AllSort .curr 
	{
	width:130px;
	height:19px;
	line-height:19px;
	padding-bottom:4px;
	border-top:#959595 1px solid;
	border-bottom:#959595 1px solid;
	background:#FFF  0px -478px;
	}
#AllSort .curr span { display:none;}
#AllSort dd {
	PADDING-RIGHT: 5px; PADDING-LEFT: 9px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 195px; CURSOR: default; PADDING-TOP: 5px;
}
#AllSort dd span {
	background:  no-repeat 0px -1043px;
	display:block;
	padding-left:40px;
	width:82px;
	float:right;
	
}
#AllSort div span {
	background: 0px -1043px;
	display:block;
	padding-left:8px;
	width:82px;
	float:right;
}
.viewall 
	{
	padding:6px 8px 0 8px;
	text-align:right;
	background:#80ffff;
	}
.pop_wrap {
	padding:0 3px 3px 0;
	margin-top:0;
	display:none;
	z-index:999;
	position:absolute;
	width:201px;
	left:930px;
}
.pop {
	background:#FFF  0px -780px; 
	background:#80ffff;
	border-left:0;
	padding:3px 10px;
	overflow:hidden;
	width:180px;
	line-height:24px;
}

/**********nav_r***************/
#nav_l{width:1145px;float:left;}
#slide{width:640px;height:200px;margin:3px 0 0 20px;float:left;}
#news{float:left;width:350px; height:215px;border:1px solid #d3d3d3;margin:6px 0 0 65px;}
#news .title{height:30px;background:#f3f3f3;border-bottom:1px solid #d3d3d3;line-height:30px;}
#news .title span{color:black;font-weight:bold;float:left;margin-left:6px;font-size:13px;}
#news .title a{color:#333;float:right;}
#news .content ul{width:336px;height:180px;margin-left:8px;}
#news .content ul li{width:336px;height:25px;line-height:25px;float:left;}
#news .content ul li span{float:right;}
#goods{width:1080px;height:250px;background:#f3f3f3;float:left;margin:5px 0 0 65px;}
#goods .title{height:20px;line-height:30px;}
#goods .title span{float:left;font-weight:bold;margin-left:15px;font-size:13px;}
#goods .title a{float:right;margin-right:3px;color:#005ea7;}
#goods .content{height:230px;float:left;margin-left:13px;}
#goods .products{width:190px;height:215px;float:left;border:1px solid #d3d3d3;background:white;margin-right:20px;}
#goods .picture{height:170px;border-bottom:2px solid #d3d3d3;}
#goods .picture h2{margin-left:20px;}
#goods .price{height:16px;border-top:2px solid #d3d3d3;line-height:40px;font-size:13px;color:#999;}
#goods .price span{color:#cc0047;font-weight:bold;font-size:14px;}


/****************foot**********************/
/****************foot_nav**********************/
#foot{float:left;height:250px;}
#foot_nav{float:left;width:1216px;height:196px;background-image:url(img/bg_footnav.jpg);margin-left:70px;}
.footNav{float:left;width:140px;margin-left:70px;*margin-top:20px;}
.footNav ul li{height:20px;line-height:20px;}
.footNav ul li a{font-weight:normal;}
.footNav ul li h4{font-size:14px;}


/****************foot_copyright**********************/
#foot_copyright{float:left;width:1348px;height:100px;background:#0000a0;margin:8px 0 0 0;}
#foot_copyright ul{width:750px;height:30px;line-height:30px;margin-left:500px;float:left;}
#foot_copyright ul li{float:left;}
#foot_copyright ul li span{float:left;color:white;}
#foot_copyright ul li a{color:white;}
#foot_copyright p{font-weight:normal;font-size:13px;width:1210px;height:18px;line-height:18px;color:white;margin-left:65px;float:left;text-align:center;}

